
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "idroid";
    src: url("fontes/idroid.otf") format("opentype");
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84E1AD;

}
                                                /*HEADER*/  
header{
    background:linear-gradient(to bottom, #3AD07E, #268952, #1A5C38 );
    color: white;
}

#titulo-header{
    text-align: center;
    padding: 10px;
    font-family: "Russo One", sans-serif;
    color: black;
}

#txt-header{
    text-align: center;
    margin: 20px;
    font-size: 11px;
    padding: 15px;
}

nav{
    padding: 5px;
}

nav > a:hover{
    text-decoration: underline;
}

nav > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-right: 20px;
}                                                 /*FIM HEADER*/

main{
    background-color: white;
    width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.226);
    border-radius: 2px;
}

span{
    color: #1A5C38;
}

.titulos-main{
    font-family: "idroid";
    font-size: 28px;
    padding-left: 20px;
    color: #195C37;
}

main > p{
    font-weight: bold;
    text-align: justify;
    padding: 20px;
}

.sub-titulo-main{
    font-family: "idroid";
    padding-left: 20px;
    color: #195C37;
    background: linear-gradient(to right, #C5EBD6, #F8FDFA );
}

a{
    color: #195C37;
    text-decoration: none;
}

.img-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-android{
    background-color: #195C37;
    padding: 20px;
}

footer{
    background-color: #195C37;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#video-android{
    display: flex;
    justify-content: center;
    align-items: center;
}